/*Configuración General del CSS*/
* {
    margin: 0;
    box-sizing: border-box;
}

:root{
    /*Colors*/
    --color-text-menu: orange;
    --header-text-color: white;
    --color-bg-button: #9f9e9c;
    --color-menu: rgb(64,64,64);
    --color-fondo-menu: #252525;
    --color-barra-apartat: #F59F1A;
    --color-bloc-not-dest:  #FF5733;

    /*Mesures*/
    --tamany-header: 8em;
    --marge-botons-carrusel: -22em;
}

/*********
* Header *
*********/
header {
    width: 100%;
    background-color: var(--color-fondo-menu);
    height: var(--tamany-header);
    color: var(--header-text-color)
}

.logo_header {
    height: var(--tamany-header);
    display: flex;
    justify-content: left;
    padding-left: 40px;
    align-items: center;
}

#company_title {
    font-size: 40px;
}

#pagAct {
    color: var(--color-text-menu);
    font-weight: bold;
}

.menu_header {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.menu_header a {
    text-decoration: none;
    color: var(--header-text-color);
    padding-right: 20px;
    font-size: 25px;
}

.menu_header a:hover {
    color: var(--color-text-menu);
}

/*******
* Body *
*******/
body {
    background-color: var(--color-menu);
    height: 100vh;
}

.titol-pag {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: var(--color-barra-apartat);
}

/*Estils aplicats al carrusel*/
.carrusel {
    margin-top: 2em;
    margin-left: 25%;
    margin-right: 25%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrusel > img {
    width: 75vh;
}

.seguent {
    margin-right: var(--marge-botons-carrusel);
}

.anterior {
    margin-left: var(--marge-botons-carrusel);
}

.anterior, .seguent {
    font-weight: bold;
    font-size: 30px;
    padding: 16px;
    position: absolute;
}

.anterior:hover, .seguent:hover {
    cursor: pointer;
    color: black;
    background-color: white;
}

.buttons {
    position: absolute;
    bottom: 0;
    display: flex;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 20px 2px;
    background-color: grey;
    border-radius: 50%;
}

.dot:hover {
    background-color: black;
}

/*Notícies destacades*/
.titol_apartat {
    border-radius: 5px;
    background-color: var(--color-bloc-not-dest);
    margin-top: 40px;
}

.titol_apartat > h1 {
    color: white;
    font-size: 25px;
    text-align: center;
}

/*Contenedor con notícias destacadas*/
.b {
    margin-top: 50px;
}

.b {
    display: flex;
    justify-content: space-around;
}

.not_dest {
    display: flex;
    border-radius: 5px;
    align-items: center;
    flex-direction: column;
    border: 2px solid grey;
    background-color: white;
    box-shadow: 10px 10px black;
}

.not_dest > * {
    margin-top: 10px;
}

.not_dest > img {
    width: 250px;
}

.not_dest > h3 {
    margin-left: 10px;
}

.not_dest > p {
    padding-left: 20px;
    padding-right: 20px;
}

.not_dest > p, .not_dest > button {
    margin-bottom: 20px;
}

.not_dest > button {
    cursor: pointer;
    text-decoration: none;
    padding: 5px;
    background-color: var(--color-bg-button);
    border-radius: 5px;
    color: black;
    border: none;
}

.not_dest > button:hover {
    background-color: black;
    color: white;
}

/*********
* Footer *
*********/
footer {
    bottom: 0;
    height: 10em;
    margin-top: 13em;
    width: 100%;
    background-color: var(--color-fondo-menu);
    color: white;
}

.informacio_extra > * {
    display: block;
    margin-top: 10px;
    padding: 0;
}

.informacio_extra h3 {
    font-size: 25px;
    text-align: center;
}

.lista_info > li {
    list-style: none;
    font-size: 20px;
    text-align: center;
}

.lista_info > li > a {
    text-decoration: none;
    color: white;
}

.lista_info > li > a:hover {
    color: var(--color-text-menu);
}

.rss {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
}

.logo {
    display: flex;
    justify-content: left;
    padding-left: 50px;
    align-items: center;
}

#logo {
    height: 100px;
}

#instagram {
    width: 100px;
}

#twitter {
    width: 70px;
}

#itch-io {
    width: 80px;
}