/*Configuración General del CSS*/
* {
    margin: 0;
    box-sizing: border-box;
}

:root{
    --header-text-color: white;
}

/*********
* Header *
*********/
.header_home {
    background-color: rgb(64,64,64);
    display: flex;
    color: var(--header-text-color);
}

/*Col-4 parte izquierda*/
.logo_header {
    border: 1px solid white;
    display: flex;
    flex-direction: row;
}

#company_title {
    font-size: 25px;
    margin-left: 1em;
}

/*Col-8 parte derecha*/
.menu_header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.menu_header a {
    text-decoration: none;
    color: var(--header-text-color);
}

.menu_header a:hover {
    color: orange;
}

/*******
* Body *
*******/

/*Carrusel de imagenes*/
.slider {
    border: 1px solid black;
    display: flex;
    height: 25em;
    justify-content: center;
}

.slider_block {
    border: 1px solid red;
    background-color: lightskyblue;
    display: flex;
    align-items: center;
}

#boto_carrusel_esquerre{
}

#boto_carrusel_dret {
}

#text_carrusel {
}


/*Events con el ratón*/
#lt:hover, #gt:hover {
    color: red;
    cursor: pointer;
}

.boto_carrusel{
    color: white;
}

/*Camp de les notícies*/

/*Camp general que abarca el títol i les notícies concretes*/
.bloc_noticies {
    border: 1px solid black;
    height: 40em;
    display: flex;
    flex-direction: column;
}

/*Títol del camp general*/
.apartat_noticies {
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
    background-color: yellowgreen;
}

/*Bloc on es troben les notícies concretes, cada una d'elles*/
.noticies {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 1em;
    flex-wrap: wrap;
}

.noticia_concreta {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}

.imatge_noticia {
    background-color: aquamarine;
    padding-right: 10em;
    padding-bottom: 3em;
}

/*********
* Footer *
*********/
.footer_pag {
    border: 1px solid red;
    height: 5em;
    display: flex;
    justify-content: space-between;
}

.info_cont {
}

.redes_sociales {
    display: flex;
    align-items: center;
}

.redes_sociales img {
    width: 90px;
}

.redes_sociales img:hover{
    filter: brightness(1.5);
}