/*Configuración General del CSS*/
* {
    margin: 0;
    box-sizing: border-box;
}

:root{
    --header-text-color: white;
    --color-menu: rgb(64,64,64);
    --color-text-menu: orange;
    --color-fondo-menu: #252525;
    --img-targ-backg: #C4C1BF;
    --info-targ-backg: white;
    --span-text: orange;
}

@font-face {
    font-family: "Press_2P";
    src:url(../../fonts/Press_Start/PressStart2P-Regular.ttf);
}

/*********
* Header *
*********/
.header_home {
    background-color: var(--color-fondo-menu);
    display: flex;
    width: 100%;
    color: var(--header-text-color);
    z-index: 20;
}

/*Col-4 parte izquierda*/
.logo_header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#company_title {
    font-size: 25px;
}

/*Col-8 parte derecha*/
#pagAct {
    color: var(--color-text-menu);
    text-decoration: underline;
    font-weight: bold;
}

.menu_header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;  
    align-items: flex-end;
}

.menu_header a {
    text-decoration: none;
    color: var(--header-text-color);
    padding-left: 1em;
}

.menu_header a:hover {
    color: var(--color-text-menu);
}

/*******
* Body *
*******/
body {
    background-color: var(--color-menu);
    height: 100vh;
}

.titol-pag {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EDDB49;
}

.joc {
    height: 15em;
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.joc img {
    align-self: center;
}

.imatge_joc {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 1em;
    margin-right: 1em;
    background-color: var(--img-targ-backg);
}

.info_joc {
    border: 2px solid black;
    border-radius: 1em;
    margin-left: 1em;
    background-color: var(--info-targ-backg);
    flex-wrap: wrap;
    
}

.info_joc > h1 {
    font-family: "Press_2P";
    padding-top: 0.5em;
    font-size: 1.7em;
}

.info_joc > p {
    margin-top: 3vh;
    line-height: 25px;
}

.joc_destacat {
    color: var(--span-text);
    font-weight: bold;
}

.button_mes_info > button {
    text-decoration: none;
    background-color: yellow;
    border-radius: 5px;
}

.button_mes_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.button_mes_info > button:hover {
    cursor: pointer;
    filter: grayscale(40%);
}

#dumstrang {
    width: 15em;
}

#gravity_long {
    width: 12em;
}

/*********
* Footer *
*********/
footer {
    bottom: 0;
    height: 8em;
    width: 100%;
    background-color: var(--color-fondo-menu);
    color: white;
}

.info_footer {
    border: 1px solid blue;
    padding-bottom: 15px;
}

.informacio_extra {
    border: 1px solid red;
}

.lista_info > li {
    list-style: none;
}

.lista_info > li > a {
    text-decoration: none;
    color: white;

}

.lista_info > li > a:hover {
    color: var(--color-text-menu);
}