/*Configuración General del CSS*/
* {
    margin: 0;
    box-sizing: border-box;
}

:root{
    --gradient-background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    --gradient-form: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    --fondo-formulari: white;
    --fondo-boto: #2dcd14;
    --fondo-boto-hover: #2bf20c;
}

body {
    height: 100vh;
    background: var(--gradient-background);
}

.info_form {
    margin-top: 15%;
    display: flex;
    height: 40vh;
    border-radius: 2%;
    justify-content: center;
    align-items: center;
    background-color: var(--fondo-formulari);
}

#formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
}

input[type="text"], input[type="password"]{
    width: 30vh;
    height: 5vh;
    margin-top: 1em;
}

#enviar {
    background-color: var(--fondo-boto);
    margin-top: 1em;
    border: none;
    border-radius: 5%;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

#enviar:hover {
    cursor: pointer;
    background-color: var(--fondo-boto-hover);
}
