/*Configuración General del CSS*/
* {
    margin: 0;
    box-sizing: border-box;
}

:root{
    --header-text-color: white;
    --color-menu: rgb(64,64,64);
    --color-text-menu: orange;
    --color-fondo-menu: #252525;
    --img-targ-backg: #C4C1BF;
    --info-targ-backg: white;
    --tamany-header: 8em;
    --color-barra-apartat: #930c0c;
    --tamany-img-not: 15em;
    --border-radius-img-not: 15px;
}

@font-face {
    font-family: "Press_2P";
    src:url(../../fonts/Press_Start/PressStart2P-Regular.ttf);
}

/*********
* Header *
*********/
header {
    width: 100%;
    background-color: var(--color-fondo-menu);
    height: var(--tamany-header);
    color: var(--header-text-color)
}

.logo_header {
    height: var(--tamany-header);
    display: flex;
    justify-content: left;
    padding-left: 40px;
    align-items: center;
}

#company_title {
    font-size: 40px;
}

#pagAct {
    color: var(--color-text-menu);
    font-weight: bold;
}

.menu_header {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.menu_header a {
    text-decoration: none;
    color: var(--header-text-color);
    padding-right: 20px;
    font-size: 25px;
}

.menu_header a:hover {
    color: var(--color-text-menu);
}

/*******
* Body *
*******/
body {
    background-color: var(--color-menu);
    height: 150vh;
}

.bloc_noticies {
    margin-top: 4em;
    margin-bottom: -4em;
}

.titol-pag {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--color-barra-apartat);
}

.imatge_noticia {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 1em;
    margin-right: -5em;
    margin-bottom: 20px;
    background-color: var(--img-targ-backg);
}

.info_noticia {
    border: 2px solid black;
    border-radius: 1em;
    margin-left: 1em;
    margin-bottom: 20px;
    background-color: var(--info-targ-backg);
    flex-wrap: wrap;
}

.info_noticia > h1 {
    font-family: "Press_2P";
    padding-top: 0.5em;
    font-size: 1.7em;
}

.info_noticia > p {
    margin-top: 1vh;
    line-height: 25px;
    font-size: 20px;
}

.button_mes_info > button {
    border: none;
    font-size: 17px;
    border-radius: 5px;
    text-decoration: none;
    background-color: var(--img-targ-backg);
}

.button_mes_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.button_mes_info > button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

#noticia_1 {
    width: var(--tamany-img-not);
    border-radius: var(--border-radius-img-not);
}

#noticia_2 {
    width: var(--tamany-img-not);
    border-radius: var(--border-radius-img-not);
}

/*********
* Footer *
*********/
footer {
    bottom: 0;
    position: fixed;
    height: 10em;
    margin-top: -8em;
    width: 100%;
    background-color: var(--color-fondo-menu);
    color: white;
}

.informacio_extra > * {
    display: block;
    margin-top: 10px;
    padding: 0;
}

.informacio_extra h3 {
    font-size: 25px;
    text-align: center;
}

.lista_info > li {
    list-style: none;
    font-size: 20px;
    text-align: center;
}

.lista_info > li > a {
    text-decoration: none;
    color: white;
}

.lista_info > li > a:hover {
    color: var(--color-text-menu);
}

.rss {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
}

.logo {
    display: flex;
    justify-content: left;
    padding-left: 50px;
    align-items: center;
}

#logo {
    height: 100px;
}

#instagram {
    width: 100px;
}

#twitter {
    width: 70px;
}

#itch-io {
    width: 80px;
}