* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    /*Colors*/
    --color-text-menu: orange;
    --header-text-color: white;
    --color-bg-button: #9f9e9c;
    --color-menu: rgb(64,64,64);
    --color-fondo-menu: #252525;
    --color-barra-apartat: #F59F1A;
    --color-bloc-not-dest: #FF5733;

    /*Mides*/
    --tamany-header: 6em;
}

/*********
* Header *
*********/
header {
    width: 100%;
    background-color: var(--color-fondo-menu);
    color: var(--header-text-color);
}

#nav_menu {
    height: var(--tamany-header);
}

.boto_desplegable {
    border: 2px solid white;
    background-color: white;
}

#anclaMenu {
    background-color: white;
    width: 15em;
}

#anclaMenu > li > a {
    color: white;
    background: var(--color-fondo-menu);
    padding-left: 1em;
    font-size: 25px;
}

#anclaMenu > li > a:hover {
    color: var(--color-text-menu);
}

/*******
* Body *
*******/
body {
    background-color: var(--color-menu);
}

.cos_noticia {
    color: black;
    background: white;
    border-radius: 5px;
}

.formulari_noticiari {
    background-color: lightgray;
}

/*********
* Footer *
*********/
footer {
    bottom: 0;
    width: 100%;
    /* position: absolute; */
    color: white;
}

.cont_footer {
    display: flex;
    background-color: var(--color-fondo-menu);
}

.informacio_extra h3 {
    font-size: 25px;
    text-align: center;
}

.lista_info > li {
    list-style: none;
    font-size: 20px;
    text-align: center;
}

.lista_info > li > a {
    text-decoration: none;
    color: white;
}

.lista_info > li > a:hover {
    color: var(--color-text-menu);
}

.rss {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    padding-top: 1em;
    padding-bottom: 1em;
    justify-content: center;
    padding-left: 50px;
    align-items: center;
}

#logo {
    height: 125px;
}

#instagram {
    width: 100px;
}

#twitter {
    width: 70px;
}

#itch-io {
    width: 80px;
}