/*Configuración General del CSS*/
* {
    margin: 0;
    box-sizing: border-box;
}

:root{
    --header-text-color: white;
    --color-menu: rgb(64,64,64);
    --color-text-menu: orange;
    --color-fondo-menu: #252525;
    --img-targ-backg: #C4C1BF;
    --info-targ-backg: white;
    --tamany-header: 8em;
    --color-barra-apartat: #930c0c;
    --color-fondo-formulari: white;
    --bg-color-button: #a39d9d;
    --color-hover-button: #444343;
    --sombreado: 10px 10px black;
}

@font-face {
    font-family: "Press_2P";
    src:url(../../fonts/Press_Start/PressStart2P-Regular.ttf);
}

/*********
* Header *
*********/
header {
    width: 100%;
    background-color: var(--color-fondo-menu);
    height: var(--tamany-header);
    color: var(--header-text-color)
}

.logo_header {
    height: var(--tamany-header);
    display: flex;
    justify-content: left;
    padding-left: 40px;
    align-items: center;
}

#company_title {
    font-size: 40px;
}

.menu_header {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.menu_header a {
    text-decoration: none;
    color: var(--header-text-color);
    padding-right: 20px;
    font-size: 25px;
}

.menu_header a:hover {
    color: var(--color-text-menu);
}

.titol-pag {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--color-barra-apartat);
}

/*******
* Body *
*******/

body {
    background-color: var(--color-menu);
    height: 100vh;
}

.imatge_banner {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
}

.imatge_banner > img {
    height: 350px;
    width: 600px;
}

#text_desc {
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.info {
    border-radius: 5px;
    background-color: var(--info-targ-backg);
    box-shadow: var(--sombreado);
}

.info > h1 {
    font-size: 25px;
    text-align: center;
}

.pregunta {
    color: red;
    font-size: 35px;
}

.content_pregunta {
    padding-left: 20px;
}

.content_resposta {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content_resposta > p {
    align-self: flex-end;
    padding-left: 14px;
    margin-bottom: 7px;
    font-size: 20px;
}

.resposta {
    color: var(--color-hover-button);
    font-size: 35px;
}

/*********
* Footer *
*********/
footer {
    bottom: 0;
    height: 10em;
    margin-top: 8em;
    width: 100%;
    background-color: var(--color-fondo-menu);
    color: white;
}

.informacio_extra > * {
    display: block;
    padding: 0;
}

.informacio_extra h3 {
    font-size: 25px;
    text-align: center;
}

.lista_info > li {
    list-style: none;
    font-size: 20px;
    text-align: center;
}

.lista_info > li > a {
    text-decoration: none;
    color: white;

}

.lista_info > li > a:hover {
    color: var(--color-text-menu);
}

.rss {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -20px;
}

.logo {
    display: flex;
    justify-content: left;
    padding-left: 50px;
    align-items: center;
}

#logo {
    height: 120px;
}

#instagram {
    width: 100px;
}

#twitter {
    width: 70px;
}

#itch-io {
    width: 80px;
}
