/*Configuración General del CSS*/
* {
    margin: 0;
    box-sizing: border-box;
}

:root{
    /*Colors*/
    --color-text-menu: orange;
    --header-text-color: white;
    --color-bg-button: #9f9e9c;
    --color-menu: rgb(64,64,64);
    --color-fondo-menu: #252525;
    --color-barra-apartat: #F59F1A;
    --color-bloc-not-dest:  #FF5733;

    /*Mesures*/
    --tamany-header: 8em;
    --marge-botons-carrusel: -22em;
}

/*********
* Header *
*********/
header {
    width: 100%;
    background-color: var(--color-fondo-menu);
    height: var(--tamany-header);
    color: var(--header-text-color)
}

.logo_header {
    height: var(--tamany-header);
    display: flex;
    justify-content: left;
    padding-left: 40px;
    align-items: center;
}

#company_title {
    font-size: 40px;
}

#pagAct {
    color: var(--color-text-menu);
    font-weight: bold;
}

.menu_header {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.menu_header a {
    text-decoration: none;
    color: var(--header-text-color);
    padding-right: 20px;
    font-size: 25px;
}

.menu_header a:hover {
    color: var(--color-text-menu);
}

/*******
* Body *
*******/
body {
    background-color: var(--color-menu);
    /* height: 100vh; */
    min-height: 100%;
}

.titol-pag {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: var(--color-barra-apartat);
}

.sitemap_info {
    margin-top: 3em;
    margin-bottom: 3em;
    border: 3px solid var(--color-barra-apartat);
}

.sitemap_info > h3 {
    font-size: 20px;
    margin: 10px;
}

.sitemap_info > ul > li {
    margin: 10px;
    text-align: left;
    margin-left: -3%;
    list-style-type: none;
}

.sitemap_info a {
    text-decoration: none;
    font-size: 20px;
    color: lightgray;
}

.sitemap_info a:hover {
    color: black;
}

/*********
* Footer *
*********/
footer {
    bottom: 0;
    height: 10em;
    width: 100%;
    /* position: fixed; */
    color: white;
}

.cont_footer {
    display: flex;
    background-color: var(--color-fondo-menu);
}

.informacio_extra > * {
    display: block;
    margin-top: 10px;
    padding: 0;
}

.informacio_extra h3 {
    font-size: 25px;
    text-align: center;
}

.lista_info > li {
    list-style: none;
    font-size: 20px;
    text-align: center;
}

.lista_info > li > a {
    text-decoration: none;
    color: white;
}

.lista_info > li > a:hover {
    color: var(--color-text-menu);
}

.rss {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
}

.logo {
    display: flex;
    justify-content: left;
    padding-left: 50px;
    align-items: center;
}

#logo {
    height: 100px;
}

#instagram {
    width: 100px;
}

#twitter {
    width: 70px;
}

#itch-io {
    width: 80px;
}